{% extends "base.html" %} 
{% include 'partials/navbar.html' %} 
{% block page %}
<div class="container is-fluid">
  <div class="columns mt-4">
    <div class="column">{% include 'partials/sidenav.html' %}</div>
    <div class="column is-10">
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li><a href="/customers">Customers</a></li>
          <li class="is-active"><a href="#" aria-current="page">Register Customer</a></li>
        </ul>
      </nav>
      <div class="box">
        {% include 'forms/customer.html' %}
      </div>
    </div>
  </div>
</div>
{% endblock page %}