{% include 'partials/form_errors.html' %}
<form method="POST" action="/register-customer">
  {{ form.csrf_token }}
  <div class="field">
    {{ form.first_name.label(class="label") }}
    <div class="control">
      {{ 
        form.first_name(
          placeholder="First Name...", 
          class="input"
      )}}
    </div>
  </div>
  <div class="field">
    {{ form.last_name.label(class="label") }}
    <div class="control">
      {{
        form.last_name(
          placeholder="Last Name...", 
          class="input"
      )}}
    </div>
  </div>
  <div class="field">
    {{ form.email.label(class="label") }}
    <div class="control">
      {{
        form.email(
          placeholder="Email...", 
          class="input"
      )}}
    </div>
  </div>
  <div class="mb-4">
    {{ form.mobile_phone.label(class="label") }}
    <div class="field has-addons">
      
      <div class="control">
        <span class="select">
          <select>
            <option>+254</option>
          </select>
        </span>
      </div>
      <div class="control is-expanded">
        {{
          form.mobile_phone(
            pattern="[0-9]{9}",
            placeholder="Tel e.g 712345678", 
            class="input"
        )}} 
      </div>
    </div>
  </div>
  <div class="field">
    {{ form.id_no.label(class="label") }}
    <div class="control">
      {{ 
        form.id_no(
          pattern="[0-9]{8}",
          placeholder="ID Number...",
          class="input"
    )}}
    </div>
  </div>
  <button 
    type="submit" 
    name="submit" 
    class="button is-fullwidth is-primary mt-4">
    <span class="icon">
      <i class="fa fa-user-plus"></i>
    </span>
    <span>Register</span>
  </button>
</form>