<div>
    <form method="POST" action="{{ '/create-customer-invoice-payment/%s' % customer.id }}">
        {{ customer_invoice_payment_form.csrf_token }}
        {{
            customer_invoice_payment_form.invoice_id(
                id="customerInvoicePaymentID",
                placeholder="Invoice ID", 
                class="input"
            )
        }}
        <div class="field">
            {{ 
                customer_invoice_payment_form.payment_mode.label(
                    class="label"
                ) 
            }}
            <div class="control">
              {{ 
                customer_invoice_payment_form.payment_mode(
                    placeholder="Payment Mode", 
                    class="input"
                )
              }}
            </div>
        </div>
        <div class="field">
            {{ 
                customer_invoice_payment_form.amount.label(
                    class="label"
                ) 
            }}
            <div class="control">
              {{ 
                customer_invoice_payment_form.amount(
                    placeholder="Amount", 
                    class="input"
                )
              }}
            </div>
        </div>
        <button type="submit" name="submit" class="button is-fullwidth is-primary mt-4">
            <span class="icon">
                <i class="fa fa-plus"></i>
            </span>
            <span>Add Payment</span>
        </button>
    </form>
</div>