<div>
  <form method="POST" action="{{ '/create-customer-invoice/%s' % customer.id }}">
    {{ customer_invoice_form.csrf_token }}
    {{
      customer_invoice_form.item(
        placeholder="Product", 
        class="input"
      )
    }}
    {{
      customer_invoice_form.price(
        placeholder="Price", 
        class="input",
        style="margin-top:1em;"
      )
    }}
    {{
      customer_invoice_form.due_at(
        placeholder="Due Date", 
        class="input", 
        style="margin-top:1em;"
      )
    }}
    <button type="submit" name="submit" class="button is-fullwidth is-primary mt-4">
      <span class="icon">
        <i class="fa fa-plus"></i>
      </span>
      <span>Create Invoice</span>
    </button>
  </form>
</div>