{% with form=customer_motor_private_quotation_form %}
  {% include 'partials/form_errors.html' %}
{%endwith %}
<form method="POST" action="{{ action }}">
  {{ customer_motor_private_quotation_form.csrf_token }}
  <div class="field">
    <div class="control">
      {{
        customer_motor_private_quotation_form.quotation_type
      }}
    </div>
  </div>
  <div class="field">
    <div class="label">
      What is the current value of your car (KShs)?
    </div>
    <div class="control">
      {{
        customer_motor_private_quotation_form.sum_insured(
          placeholder="Vehicle Price...", 
          class="input"
        )
      }}
    </div>
  </div>
  <div class="field">
    {{ customer_motor_private_quotation_form.motor_cover_type.label(class="label") }}
    <div class="control">
      {{
        customer_motor_private_quotation_form.motor_cover_type(
          placeholder="Cover Type...", 
          class="input"
        )
      }}
    </div>
  </div>
  <div class="field">
    {{ customer_motor_private_quotation_form.motor_use.label(class="label") }}
    <div class="control">
      {{
        customer_motor_private_quotation_form.motor_use(
          placeholder="Vehicle Model...", 
          class="input"
        )
      }}
    </div>
  </div>
  <div class="field">
    {{ customer_motor_private_quotation_form.vehicle_model.label(class="label") }}
    <div class="control">
      {{
        customer_motor_private_quotation_form.vehicle_model(
          placeholder="Vehicle Model...", 
          class="input"
        )
      }}
    </div>
  </div>
  <div class="field">
    {{ 
      customer_motor_private_quotation_form.year_of_manufacture.label(
        class="label"
      ) 
    }}
    <div class="control">
      {{
        customer_motor_private_quotation_form.year_of_manufacture(
          placeholder="Vehicle Model...", 
          class="input"
        )
      }}
    </div>
  </div>
  <div class="field">
    {{ 
      customer_motor_private_quotation_form.cover_start_date.label(
        class="label"
      ) 
    }}
    <div class="control">
      {{
        customer_motor_private_quotation_form.cover_start_date(
          placeholder="Cover Start...", 
          class="input"
        )
      }}
    </div>
  </div>
  <div class="field">
    {{ 
      customer_motor_private_quotation_form.payment_plan.label(
        class="label"
      ) 
    }}
    <div class="control">
      {{
        customer_motor_private_quotation_form.payment_plan(
          placeholder="Payment Plan...", 
          class="input"
        )
      }}
    </div>
  </div>
  <button type="submit" name="submit" class="button is-fullwidth is-primary mt-4">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>{{button_text}}</span>
  </button>
</form>