{% include 'partials/form-errors.html' %}
<form method="POST" action="/register-product">
  {{ form.csrf_token }}
  <div class="field">
    {{ form.name.label(class="label") }}
    <div class="control">
      {{ 
        form.name(placeholder="Name...", class="input")
      }}
    </div>
  </div>
  <div class="field">
    {{ form.category.label(class="label") }}
    <div class="control">
      {{ 
        form.category(placeholder="Category...", class="input")
      }}
    </div>
  </div>
  <div class="field">
    {{ form.price.label(class="label") }}
    <div class="control">
      {{ 
        form.price(placeholder="Price...", class="input")
      }}
    </div>
  </div>
  <button type="submit" name="submit" class="button is-fullwidth is-primary" style="margin-top:1em;">
    <span class="icon">
      <i class="fa fa-plus"></i>
    </span>
    <span>Add Product</span>
  </button>
  </button>
</form>
