<article class="message has-background-danger">
  <div class="content">
    <ul>
    {% for field, errors in form.errors.items() %}
        <li>
          <small class="form-text text-muted ">
            {{ ','.join(errors) }}
          </small>
        </li>
    {% endfor %}
    </ul>
  </div>
</article>

<form method="POST" action="{{ action }}" accept-charset="UTF-8" role="form">
  {{ form.csrf_token }} 
  {{ 
    form.email(size=20, placeholder="Email", class="input mt-4") 
  }} 
  {{
    form.password(placeholder="Password", class="input mt-4") 
  }}
  <div class="level mt-4">
    <div class="level-left">
      <label class="checkbox">
        <input type="checkbox" name="remember" value="1"/> 
        Remember Me
      </label>
    </div>
    <div class="level-right">
      <a role="button" href="">
        <span class="has-text-primary"> Forgot your password?</span>
      </a>
    </div>
  </div>
  <div>
    {{ form.submit(class="button is-fullwidth is-primary") }}
  </div>
</form>