<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Invoice</title>
</head>
<body style="background-color: #1F1525; padding:1em;">
    <div 
        class="main-content" 
        style="max-width: 37.5em; margin: auto; background-color: #ECE5F0; padding: 2em;"
    >
        <div style="text-align: center; margin-bottom: 1em;">
            <h1 style="color: #a80606;">Granate</h1>
        </div>
        {% block page %}{% endblock %}
    </div>
</body>
</html>