{% extends "base.html" %} 
{% include 'partials/navbar.html' %}
{% block page %}
  <div class="container is-fluid">
    <span class="is-size-4">
      Welcome, {{'%s %s' % (customer.first_name, customer.last_name) }}
    </span>
    {% include 'partials/customer-dashboard-policies.html' %}
    {% include 'partials/customer-dashboard-payments.html' %}
    {% include 'partials/customer-dashboard-quotations.html' %}
    {% include 'partials/customer-dashboard-invoices.html' %}
  </div>
{% endblock page %}
