{% extends "layout.html" %}
{% include 'partials/login_navbar.html' %} 
{% block page %}
<div class="container is-fluid">
  <div class="columns mt-4">
    <div class="column">
      {% include 'partials/sidenav.html' %}
    </div>
    <div class="column is-10">
      <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
          <li><a href="/customers">Customers</a></li>
          <li class="is-active">
            <a href="#" aria-current="page">View Customer</a>
          </li>
        </ul>
      </nav>
      {% include 'partials/customer-info.html' %}
      {% include 'partials/customer-policies.html' %}
      {% include 'partials/customer-quotations.html' %}
      {% include 'partials/customer-invoices.html' %}
      {% include 'partials/customer-payments.html' %}
    </div>
  </div>
</div>
{% endblock page %}
