{% extends "layout.html" %} {% include 'partials/login_navbar.html' %} {% block page %}
<div class="container is-fluid">
  <div class="columns mt-4">
    <div class="column">
      {% include 'partials/sidenav.html' %}
    </div>
    <div class="column is-10">
      <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <a href="/new-invoice" class="button is-primary">
            <span class="icon">
              <i class="fa fa-user-plus"></i>
            </span>
            <span>New Invoice</span>
          </a>
        </div>
      </div>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Customer's First Name</th>
            <th>Customer's Last Name</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Status</th>
            <th>Due Date</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <!-- <tbody>
          {% for customer in customers %}
          <tr>
            <td>{{ customer.f_name }}</td>
            <td>{{ customer.l_name }}</td>
            <td>{{ '254%s' % customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td><a href="#" class="button">View</a></td>
            <td>
              {% if customer.is_active() %}
              <a
                href="{{'/update-customer-status/%s' % customer.id }}"
                class="button is-danger"
                >Deactivate</a
              >
              {% else %}
              <a
                href="{{'/update-customer-status/%s' % customer.id }}"
                class="button"
                >Activate</a
              >
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody> -->
      </table>
    </div>
  </div>
</div>
{% endblock page %}
