{% extends "layout.html" %} {% include 'partials/login_navbar.html' %} {% block
    page %}
    <div class="container is-fluid">
      <div class="columns mt-4">
        <div class="column">{% include 'partials/sidenav.html' %}</div>
        <div class="column is-10">
          <div class="box">
            <table class="table is-fullwidth">
              <thead>
                <tr>
                  <th>Invoice ID</th>
                  <th>Payment Mode</th>
                  <th>Amount</th>
                  <th>Payment Date</th>
                </tr>
              </thead>
              <tbody>
                {% if payments|length > 0 %}
                  {% for payment in payments %}
                  <tr>
                    <td>{{ payment.invoice_id }}</td>
                    <td>{{ payment.payment_mode.value }}</td>
                    <td>{{ payment.amount }}</td>
                    <td>{{ payment.created_at }}</td>
                  </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="4">
                      <span class="has-text-weight-bold has-text-primary">
                        No available payments
                      </span>
                    </td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endblock page %}
    