{% extends "base.html" %} 
{% include 'partials/navbar.html' %}
{% block page %}
  <div class="container is-fluid">
    <div class="columns mt-4">
      <div class="column">{% include 'partials/sidenav.html' %}</div>
      <div class="column is-10">
        <div class="box">
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Start Date</th>
                <th>Policy Type</th>
                <th>Sum Insured in (KSh.)</th>
                <th>Premium in (KSh.)</th>
                <th>Policy Status</th>
                <th>Policy Underwriter</th>
              </tr>
            </thead>
            <tbody>
              {% if policies|length > 0 %}
                {% for policy in policies %}
                <tr>
                  <td>{{ '{:%d-%b-%Y}'.format(policy.policy_start_date) }}</td>
                  <td>{{ policy.product_type.value }}</td>
                  <td>{{ "{:,}".format(policy.sum_insured) }}</td>
                  <td>{{ "{:,}".format(policy.premium) }}</td>
                  <td>{{ policy.policy_status.value }}</td>
                  <td>{{ policy.policy_underwriter }}</td>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="4">
                    <span class="has-text-weight-bold has-text-primary">
                      No available Policies
                    </span>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock page %}
  