{% extends "layout.html" %} {% include 'partials/login_navbar.html' %} {% block
page %}
<div class="container is-fluid">
  <div class="columns mt-4">
    <div class="column">{% include 'partials/sidenav.html' %}</div>
    <div class="column is-10">
      <div class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <a href="/new-product" class="button is-primary">
            <span class="icon">
              <i class="fa fa-plus"></i>
            </span>
            <span>New Product</span>
          </a>
        </div>
      </div>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th colspan="3">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
            <td><a href="#" class="button is-primary is-outlined">View</a></td>
            <td><a href="#" class="button is-link is-outlined">Edit</a></td>
            <td><a href="#" class="button is-danger is-light">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock page %}
