{% extends "base.html" %}
{% include 'partials/navbar.html' %}
{% block page %}
<div class="container is-fluid">
  <div class="columns mt-4">
    <div class="column">
      {% include 'partials/sidenav.html' %}
    </div>
    <div class="column is-10">
        <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="/customers">Customers</a></li>
                <li><a href="{{ '/customer/%s' % customer_id }}">Customer</a></li>
                <li class="is-active">
                    <a href="#" aria-current="page">Update Quotation</a>
                </li>
            </ul>
        </nav>
        <div class="box">
          {% if product_type == 'MOTOR_PRIVATE' or product_type == 'MOTOR_COMMERCIAL' %}
            {% with button_text='Update Quotation' %}
                {% include 'forms/motor-quotation.html' %}
            {% endwith %}
          {% else %}
            {% with button_text='Update Quotation' %}
                {% include 'forms/medical-quotation.html' %}
            {% endwith %}
          {% endif %}
        </div>
    </div>
  </div>
</div>
{% endblock page %}
