<div class="box mt-4">
  <div class="level">
    <div class="level-left">
      <span class="is-size-5 has-text-weight-bold">Customer Policies</span>
    </div>
    <div class="level-right">
      <div class="dropdown is-right is-hoverable">
        <div class="dropdown-trigger">
          <button class="button is-link is-small" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>Add Policy</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <a 
              href="#" 
              class="dropdown-item" 
              onclick="activateModal('privateMotorPolicyModal')"
            >
                Motor Private
            </a>
            <a 
              href="#" 
              class="dropdown-item" 
              onclick="activateModal('commercialMotorPolicyModal')"
            >
              Motor Commercial
            </a>
            <a href="#" class="dropdown-item">
              Medical Inpatient
            </a>
            <a href="#" class="dropdown-item">
              Medical Outpatient
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Start Date</th>
        <th>Policy Type</th>
        <th>Sum Insured in (KSh.)</th>
        <th>Premium in (KSh.)</th>
        <th>Policy Status</th>
        <th>Policy Underwriter</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if policies|length > 0 %}
        {% for policy in policies %}
          <tr>
            <td>{{ '{:%d-%b-%Y}'.format(policy.policy_start_date) }}</td>
            <td>{{ policy.product_type.value }}</td>
            <td>{{ "{:,}".format(policy.sum_insured) }}</td>
            <td>{{ "{:,}".format(policy.premium) }}</td>
            <td>{{ policy.policy_status.value }}</td>
            <td>{{ policy.policy_underwriter }}</td>
            <td>
              <a 
                href="{{ '/update-customer-policy/%s' % (policy.id) }}" 
                class="button is-small is-link is-outlined"
              >
                  <span class="icon">
                    <i class="fa fa-eye"></i>
                  </span>
                  <span>View & Edit Policy </span>
              </a>
            </td>
            <!-- <td>
              <button class="button is-small is-link">
                <span class="icon">
                  <i class="fa fa-plus"></i>
                </span>
                <span>Add Invoice</span>
              </button>
            </td> -->
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4">
            <span class="has-text-weight-bold has-text-primary">
              No available covers
            </span>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<div id="privateMotorPolicyModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Private Motor Policy</p>
      <button 
        class="delete" 
        aria-label="close"
        onclick="deactivateModal('privateMotorPolicyModal')"
        ></button>
    </header>
    <section class="modal-card-body">
      {% with  
          action='/create-customer-policy/%s' % customer.id, 
          button_text='Create Policy',
          form=customer_private_motor_policy_form
      %}
        {% include 'forms/motor-policy.html' %}
      {% endwith %}
    </section>
  </div>
</div>

<div id="commercialMotorPolicyModal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Commercial Motor Policy</p>
      <button 
        class="delete" 
        aria-label="close"
        onclick="deactivateModal('commercialMotorPolicyModal')"
        ></button>
    </header>
    <section class="modal-card-body">
      {% with  
          action='/create-customer-policy/%s' % customer.id, 
          button_text='Create Policy',
          form=customer_commercial_motor_policy_form
      %}
        {% include 'forms/motor-policy.html' %}
      {% endwith %}
    </section>
  </div>
</div>