<div class="level mt-4">
  <div class="level-left"></div>
  <div class="level-right">
    <a href="#" class="button is-primary is-outlined">
      <span class="icon">
        <i class="fa fa-download"></i>
      </span>
      <span>Download Customer Statement</span>
    </a>
  </div>
</div>
<div class="box mt-4">
  <div class="level">
    <div class="level-left">
      <span class="is-size-5 has-text-weight-bold">Customer Covers</span>
    </div>
    <div class="level-right">
      <a href="/register-customer" class="button is-small is-link">
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span>Add Cover</span>
      </a>
    </div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Telephone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4">
          <span class="has-text-weight-bold has-text-primary">
            No available covers
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
