<div class="card">
    <header class="card-header">
      <p class="card-header-title">Customer</p>
      {% if customer.is_active() %}
      <a
        href="{{'/update-customer-status/%s' % customer.id }}"
        class="button is-danger is-small mr-4"
        style="margin-top: auto; margin-bottom: auto"
      >
        <span class="icon">
          <i class="fa fa-toggle-off"></i>
        </span>
        <span>Deactivate</span>
      </a>
      {% else %}
      <a
        href="{{'/update-customer-status/%s' % customer.id }}"
        class="button is-primary is-small mr-4"
        style="margin-top: auto; margin-bottom: auto"
      >
        <span class="icon">
          <i class="fa fa-toggle-on"></i>
        </span>
        <span>Activate</span>
      </a>
      {% endif %}
    </header>
    <div class="card-content">
      <div class="content">
        <div class="columns">
          <div class="column">
            <div>
              <span class="has-text-weight-bold">First Name:</span>
              {{ customer.f_name }}
            </div>
            <br />
            <div>
              <span class="has-text-weight-bold">Email:</span>
              {{ customer.email }}
            </div>
            <br />
            <div>
              <span class="has-text-weight-bold">ID:</span>
              {{ customer.id_no }}
            </div>
          </div>
          <div class="column">
            <div>
              <span class="has-text-weight-bold">Last Name:</span>
              {{ customer.l_name }}
            </div>
            <br />
            <div>
              <span class="has-text-weight-bold">Telephone:</span>
              {{ '+245' + customer.phone }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a href="#" class="card-footer-item has-background-link-light">
        Update
      </a>
      <a
        href="#"
        class="card-footer-item has-background-danger-light has-text-danger"
      >
        <span class="icon">
          <i class="fa fa-exclamation-triangle"></i>
        </span>
        <span>Delete</span>
      </a>
    </footer>
  </div>