<div class="mt-4 box">
  <div class="level">
    <div class="level-left">
      <span class="is-size-5 has-text-weight-bold">
        Customer Invoices
      </span>
    </div>
    <div class="level-right">
      <button 
        class="button is-small is-link" 
        onclick="activateModal('newCustomerInvoice')"
      >
        <span class="icon">
          <i class="fa fa-plus"></i>
        </span>
        <span>Add Invoice</span>
      </button>
    </div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Policy</th>
        <th>Amount</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if invoices|length > 0 %}
        {% for invoice in invoices %}
        <tr>
          <td>{{ invoice.policy.product_type.value }}</td>
          <td>{{ "{:,}".format(invoice.amount) }}</td>
          <td>{{ '{:%d-%b-%Y}'.format(invoice.due_date) }}</td>
          <td>{{ invoice.status.name }}</td>
          <td>
            <a
                href="#"
                class="button is-small is-link"
                onclick="updatePaymentFormModal(
                  'newCustomeInvoicePayment',
                  'customerInvoicePaymentID',
                  '{{ invoice.id }}'
                )"
              >
                <span class="icon">
                  <i class="fa fa-plus"></i>
                </span>
                <span>Add Invoice Payment</span>
              </a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
      <tr>
        <td colspan="4">
          <span class="has-text-weight-bold has-text-primary">
            No available invoices
          </span>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<div id="newCustomerInvoice" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">New Customer Invoice</p>
      <button 
        class="delete" 
        aria-label="close"
        onclick="deactivateModal('newCustomerInvoice')"
        ></button>
    </header>
    <section class="modal-card-body">
      {% with form=customer_invoice_form %}
        {% include 'forms/customer-invoice.html' %}
      {% endwith %}
    </section>
  </div>
</div>
<div id="newCustomeInvoicePayment" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Invoice Payment</p>
      <button 
        class="delete" 
        aria-label="close"
        onclick="deactivateModal('newCustomeInvoicePayment')"
        ></button>
    </header>
    <section class="modal-card-body">
      {% with form=customer_invoice_payment_form %}
        {% include 'forms/customer-invoice-payment.html' %}
      {% endwith %}
    </section>
  </div>
</div>