<div class="mt-4 box">
  <div class="level">
    <div class="level-left">
      <span class="is-size-5 has-text-weight-bold">Customer Payments</span>
    </div>
    <div class="level-right"></div>
  </div>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Product Type</th>
        <th>Payment Mode</th>
        <th>Amount</th>
        <th>Payment Date</th>
      </tr>
    </thead>
    <tbody>
      {% if payments|length > 0 %}
        {% for payment in payments %}
          <tr>
            <td>{{ payment.invoice.policy.product_type.value }}</td>
            <td>{{ payment.payment_mode.value }}</td>
            <td>{{ "{:,}".format(payment.amount) }}</td>
            <td>{{ '{:%d-%b-%Y}'.format(payment.created_at) }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4">
            <span class="has-text-weight-bold has-text-primary">
              No available payments
            </span>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
