<nav class="tabs is-boxed is-fullwidth">
  <div class="container">
    <ul>
      <li 
        {% if request.path == '/' %} class="is-active"{% endif %}>
            <a class="has-text-primary" href="/" >Home</a>
      </li>
      <li 
        {% if request.path == '/about-us' %} class="is-active"{% endif %}>
            <a class="has-text-primary" href="/about-us" >About Us</a>
      </li>
      <li 
        {% if request.path == '/contact-us' %} class="is-active"{% endif %}>
            <a class="has-text-primary" href="/contact-us">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
