<nav
  class="navbar container is-fluid is-boxed"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/dashboard">
      <span class="has-text-weight-bold is-size-5 has-text-primary">
        Granate
      </span>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-link is-outlined" href="/logout">
            <span class="icon">
              <i class="fa fa-sign-out"></i>
            </span>
            <span>Log out</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
