<nav
  class="navbar container is-fluid is-boxed"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ 
        '/dashboard' if 'authorization' in session else '/'
    }}">
      <span class="has-text-weight-bold is-size-5 has-text-primary">
        Granate
      </span>
    </a>
    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="main-navbar"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="main-navbar" class="navbar-menu">
    {% if 'authorization' in session %}
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-link is-outlined" href="/logout">
            <span class="icon">
              <i class="fa fa-sign-out"></i>
            </span>
            <span>Log out</span>
          </a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="navbar-end">      
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary is-outlined" href="/login"> Admin </a>
            <a class="button is-primary" href="customer-login"> 
              Log in 
            </a>
          </div>
        </div>
    </div>
    {% endif %}
  </div>
</nav>
