{% extends 'side_nav_base.html' %}

{% block content %}
<div class="container" style="position: relative; top: 20px;">
  <div class="card text-center" style=" background-color: #E5E5E5;">
    <div class="card-header">
      <h3 class="" style="font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">About Us</h3>
    </div>
    <div class="card-body">
      <p style="justify-content: center;  font-size:large;font-weight: 450; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        Iphone City kenya is a private retail company established in 2013 as an authorised apple reseller.
      </p>
      <p style="justify-content: center; font-size:large; font-weight: 450; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        We supply apple products, accessories and provide any apple services at our stores as a package.
      </p>
      <p style="justify-content: center; font-size:large; font-weight: 450; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        At Iphone City, we are vested in building a good customer-relationship with you.
      </p>
      <p style="justify-content: center; font-size:large; font-weight: 450; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        Our team delivers a warm reception to all our customers.
      </p>

      <p style="justify-content: center; font-size:large; font-weight: 450; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        Let's keep in touch.<br>
        
      </p>
      
    </div>
    <div class="card-footer">
      <h6 class="text-center" style="font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Iphone City</h6>
    </div>
  </div>  
</div>
<div class="footer" style="height: 60px; position: relative; top: 20px;">
  <p>
  </p>
</div>
  
{% endblock content %}