<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">

   <!-- main css -->
   <link rel="stylesheet"  href="{{ url_for('static', filename='css/main.css') }}">

   <!-- fontawesome1 -->
   <!-- <link rel="stylesheet" href="{{url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css') }}">
     -->
   <!-- fontawesome2 -->
   <link rel="stylesheet" href="{{url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css')}}">
   
   <!-- city font -->
   <!-- <link rel="stylesheet" href="{{url_for('static', filename='Herr_Von_Meullerhoff/HerrVonMeullerhoff-Regular.ttf')}}">
     -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap" rel="stylesheet">
  <!--Datatable css-->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">

  <style>
       
    </style>


    <title>{{title}}</title>
  </head>
  <body style="" id="body" >
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:#E5E5E5; color: #19223c; font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation" style="border-color: #19223c; border-width: 5px;">
          <i class="fa fa-bars" aria-hidden="true" style=""></i>
        </button>
        <a class="navbar-brand a" href="/" style="font-size:x-large; font-weight: bolder; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #19223c;">IPHONE <span style="font-weight: bolder; font-family: 'Herr Von Muellerhoff', cursive;">City</span></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          {% if user_type == "Regular" -%}
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="font-size:large; position:relative; left: 100px;">
            
            {% if active_link=="/shop" -%}
            <li class="nav-item a active">
              <a class="nav-link" href="/">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tradeins">Trade</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/repairs">Repair</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            

            {%- elif active_link == "/repairs" -%}
            <li class="nav-item">
              <a class="nav-link" href="/">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tradeins">Trade</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/repairs">Repair</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            
            
            {%- elif active_link == "/tradeins" -%}
            <li class="nav-item">
              <a class="nav-link" href="/">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/tradeins">Trade</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/repairs">Repair</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            

            {%- elif active_link == "/about" -%}
            <li class="nav-item">
              <a class="nav-link" href="/">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tradeins">Trade</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/repairs">Repair</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            

            {%- elif active_link == "/login" -%}
            <li class="nav-item">
              <a class="nav-link" href="/">Shop <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tradeins">Trade</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/repairs">Repair</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            
            {%- endif %}

            
          </ul>
          <ul class="navbar-nav" style="font-size:large;">
            <li class="nav-item active">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          {% elif user_type== "Admin" -%}
          
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="font-size:large; position: relative; left: 100px;">
               {% if active_link=="/products" -%}
               <li class="nav-item">
                <a class="nav-link" href="/orders">Orders <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tradeins">Trades</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/repairs">Repairs</a>
              </li>
              

              {%- elif active_link == "/orders" -%}
              <li class="nav-item">
                <a class="nav-link active" href="/orders">Orders <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tradeins">Trades</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/repairs">Repairs</a>
              </li>
              

              {%- elif active_link == "/tradeins" -%}
              <li class="nav-item">
                <a class="nav-link " href="/orders">Orders <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/tradeins">Trades</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/repairs">Repairs</a>
              </li>
              
              {%- elif active_link == "/repairs" -%}
              <li class="nav-item">
                <a class="nav-link " href="/orders">Orders <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/tradeins">Trades</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/repairs">Repairs</a>
              </li>
              
              

              {% endif %}
              
               
            </ul>
            <ul class="navbar-nav" style="font-size:large; font-weight: bolder; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
              <li class="nav-item">
                <form action="/logout" method="POST"><input class="nav-link btn" type="submit" value="Logout"></form> 
              </li>
            </ul>
          {%- endif %}
          
        </div>
      </nav>
      <div style="height: 60px;">

      </div>
      {%if user_type=="Admin" -%}
      <div class="fixed-bottom">
        <div class="row no-gutters">
          <div class="col-4">
            <a href="" class="btn btn-block " style="color:#F9AF0B; background-color: #19223C; border-radius: 0px; height: 60px;">
              
            </a>
          </div>

          {% if creator_label %}
          <div class="col-4">
            <button class="btn btn-block" style="color:#F9AF0B; background-color: #19223C; border-radius: 0px; height: 60px;" data-toggle="modal" data-target="#create_product_modal">{{creator_label[1]}}</button>
          </div>
          {% else %}
          <div class="col-4">
           
            <button class="btn btn-block" style="color:#F9AF0B; background-color: #19223C; border-radius: 0px; height: 60px;" ></button>
          </div>
          {%- endif %}

          <div class="col-4">
            <a href="" class="btn btn-block" style="color:#F9AF0B; background-color: #19223C; border-radius: 0px; height: 60px;">
              
            </a>
          </div>
        </div>
      </div>
      {%- elif user_type=="Regular" -%}
        {% if message_board== 1-%}
        <div class="fixed-bottom">
        
          <div class="row no-gutters">
            <div class="col-4">
              <a href="tel:0715889532" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-phone" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com/iphone_city_kenya_/" target="_blank" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-instagram" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="mailto:iphonecityke@gmail.com" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-envelope" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
  
      
            
          </div>
        
        
        </div>
        <div class="fixed-bottom " id="message_panel" >
          <div class="row no-gutters">
            
            <div class="col-10">
              <div class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <span  id="order_message_1">
                  <span style="font-size:large; font-weight:bolder;"><i class="fa fa-exclamation" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;"></i></span>
                  <span style="position: relative; left: 10px;">Done, Your order is being processed</span>
                </span>
                
                <span id="order_message_2">
                  <span style="font-size:large; font-weight:bolder;"><i class="fa fa-check-circle" style="font-size:xx-large; font-weight: bolder;  position: relative; top: 10px;"></i></span>
                  <span style="position: relative; left: 10px;">We'll Call You</span>
                </span>
               </div>
            </div>
            <div class="col-2">
              <button class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;" onclick="close_message_board();">
                <i class="fa fa-close" style="font-size: xx-large; font-weight: bolder;"></i>
              </button>
            </div>
            
  
      
            
          </div>
        
        
        </div>
        {%- elif message_board==2 -%}
        <div class="fixed-bottom">
        
          <div class="row no-gutters">
            <div class="col-4">
              <a href="tel:0715889532" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-phone" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com/iphone_city_kenya_/" target="_blank" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-instagram" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="mailto:iphonecityke@gmail.com" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-envelope" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
  
      
            
          </div>
        
        
        </div>
        <div class="fixed-bottom " id="message_panel" >
          <div class="row no-gutters">
            
            <div class="col-10">
              <div class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <span  id="order_message_1">
                  <span style="font-size:large; font-weight:bolder;"><i class="fa fa-exclamation" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;"></i></span>
                  <span style="position: relative; left: 10px;">Done, Your Request is being processed</span>
                </span>
                
                <span id="order_message_2">
                  <span style="font-size:large; font-weight:bolder;"><i class="fa fa-check-circle" style="font-size:xx-large; font-weight: bolder;  position: relative; top: 10px;"></i></span>
                  <span style="position: relative; left: 10px;">We'll Call You</span>
                </span>
               </div>
            </div>
            <div class="col-2">
              <button class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;" onclick="close_message_board();">
                <i class="fa fa-close" style="font-size: xx-large; font-weight: bolder;"></i>
              </button>
            </div>
            
  
      
            
          </div>
        
        
        </div>
        {%- elif message_board==3 -%}
        <div class="fixed-bottom">
        
          <div class="row no-gutters">
            <div class="col-4">
              <a href="tel:0715889532" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-phone" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com/iphone_city_kenya_/" target="_blank" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-instagram" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="mailto:iphonecityke@gmail.com" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-envelope" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
  
      
            
          </div>
        
        
        </div>
        <div class="fixed-bottom " id="message_panel" >
          <div class="row no-gutters">
            
            <div class="col-10">
              <div class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <span  id="order_message_1">
                  <span style="font-size:large; font-weight:bolder;"><i class="fa fa-exclamation" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;"></i></span>
                  <span style="position: relative; left: 10px;">Done, Your Request is being processed</span>
                </span>
                
                <span id="order_message_2">
                  <span style="font-size:large; font-weight:bolder;"><i class="fa fa-check-circle" style="font-size:xx-large; font-weight: bolder;  position: relative; top: 10px;"></i></span>
                  <span style="position: relative; left: 10px;">We'll Call You</span>
                </span>
               </div>
            </div>
            <div class="col-2">
              <button class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;" onclick="close_message_board();">
                <i class="fa fa-close" style="font-size: xx-large; font-weight: bolder;"></i>
              </button>
            </div>
            
  
      
            
          </div>
        
        
        </div>
        {%- else -%}
        <div class="fixed-bottom">
          
          {%if sort_btn -%}
          <div class="row no-gutters">
            
            <div class="col-4">
              <a href="tel:0715889532" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-phone" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com/iphone_city_kenya_/" target="_blank" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-instagram" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
            
            <div class="col-4">
              <a href="mailto:iphonecityke@gmail.com" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-envelope" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
      
            
          </div>
          {%- else -%}
          <div class="row no-gutters">
            
            <div class="col-4">
              <a href="tel:0715889532" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-phone" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="https://www.instagram.com/iphone_city_kenya_/" target="_blank" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-instagram" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
            <div class="col-4">
              <a href="mailto:iphonecityke@gmail.com" class="btn btn-block" style="color:#19223c; background-color: #E5E5E5; border-radius: 0px; height: 60px;">
                <i class="fa fa-envelope" style="font-size: xx-large; font-weight: bolder;  position: relative; top: 10px;" aria-hidden="true"></i>
              </a>
              
            </div>
            
      
            
          </div>
          {%- endif%}
          
        
        
        </div>
        {%- endif%}
      {%- endif %}

      

      


      
      
    {% block content %}{% endblock %}
    
    

    

   
      

  
  
      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.slim.min.js') }}" ></script>
     
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>

    <!-- main javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    <!-- for datatables -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    
   
 
    <script>
      $(document).ready(function() {
        $('#orders-table').DataTable();
        } );
    </script>

  </body>
</html>