{% extends 'side_nav_base.html' %}

{% block content %}
<div class="container">
  <div class="row" style="color: white ;">
    <div class="col">
      <div class="product_view" style="width: 19rem; margin-top: 32px; margin-left: 16px;">
          <img class="img" src="{{ url_for('static', filename='assets/1.jpg') }}"  alt="..." style="width:100%; border-radius: 15px; ">
          <br>
          <div class="product_details">
            <h5 class="" style="position: relative; top:15px; left:25px; font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Item Title</h5>
            <h6 class="" style="position:relative;  top:10px; left:25px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">60,000 Ksh</h6>
            <br>
            
          </div>
          </div>
    </div>
    <div class="col">
      <div class="product_view" style="width: 19rem; margin-top: 32px; margin-left: 16px;">
          <img class="img" src="{{ url_for('static', filename='assets/2.jpg') }}"  alt="..." style="width:100%; border-radius: 15px; ">
          <br>
          <div class="product_details">
            <h5 class="" style="position: relative; top:15px; left:25px; font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Item Title</h5>
            <h6 class="" style="position:relative;  top:10px; left:25px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">60,000 Ksh</h6>
            <br>
            
          </div>
          </div>
    </div>
    <div class="col">
      <div class="product_view" style="width: 19rem; margin-top: 32px; margin-left: 16px;">
          <img class="img" src="{{ url_for('static', filename='assets/3.jpg') }}"  alt="..." style="width:100%; border-radius: 15px; ">
          <br>
          <div class="product_details">
            <h5 class="" style="position: relative; top:15px; left:25px; font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Item Title</h5>
            <h6 class="" style="position:relative;  top:10px; left:25px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">60,000 Ksh</h6>
            <br>
            
          </div>
          </div>
    </div>
    <div class="col">
      <div class="product_view" style="width: 19rem; margin-top: 32px; margin-left: 16px;">
          <img class="img" src="{{ url_for('static', filename='assets/4.jpg') }}"  alt="..." style="width:100%; border-radius: 15px; ">
          <br>
          <div class="product_details">
            <h5 class="" style="position: relative; top:15px; left:25px; font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Item Title</h5>
            <h6 class="" style="position:relative;  top:10px; left:25px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">60,000 Ksh</h6>
            <br>
            
          </div>
          </div>
    </div>
    <div class="col">
      <div class="product_view" style="width: 19rem; margin-top: 32px; margin-left: 16px;">
          <img class="img" src="{{ url_for('static', filename='assets/5.jpg') }}"  alt="..." style="width:100%; border-radius: 15px; ">
          <br>
          <div class="product_details">
            <h5 class="" style="position: relative; top:15px; left:25px; font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Item Title</h5>
            <h6 class="" style="position:relative;  top:10px; left:25px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">60,000 Ksh</h6>
            <br>
            
          </div>
          </div>
    </div>
    <div class="col">
      <div class="product_view" style="width: 19rem; margin-top: 32px; margin-left: 16px;">
          <img class="img" src="{{ url_for('static', filename='assets/iphone12.png') }}"  alt="..." style="width:100%; border-radius: 15px; ">
          <br>
          <div class="product_details">
            <h5 class="" style="position: relative; top:15px; left:25px; font-weight: bolder; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Item Title</h5>
            <h6 class="" style="position:relative;  top:10px; left:25px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">60,000 Ksh</h6>
            <br>
            
          </div>
          </div>
    </div>
  </div>
  <div class="stool">
    <p>Footer Content</p>
  </div>
</div>

{% endblock content %}